
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    margin-left: 29%;
    font-size: 3rem;
    margin-top: 50px;
}
.navbar{
    width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 30px;}
.navbar a{
    margin-right:55px ;
    margin-top: 60px;

    

}
button{
    padding: 10px;
    letter-spacing: 2px;
    background-color: #fff;
    border-radius: 7px;
    border: none;
    border: 1px solid rgb(3, 3, 3);
}
button:hover{
    background: blue;
    color: #fff;
}
.box{
    margin-top: 40px;
}
.bio{
    display: flex;
    align-items: center;
}
.center{
    text-align: center;
}
.rahul{
    margin-left: 34%;
    margin-top: 20px;
}